<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>result</title>
    <style>

         body,html {
             background-color:chartreuse;
             height: 80%;
             font-family: Arial, Calibri, Impact;
         }
         *{box-sizing: border-box}

        .container{
        background-color:coral;
        height: 400px;
            width: 500px;
    }

    </style>
</head>
<body>
<center>
     <br>
<br>
<br>
<br>

<div class="container" align="center">
    <br>
<br>
<br>
<br>
<br>
    <br>
<br>
<br>
    <h1><center><em><b>you might be suffering from {{ val1 }}</b></em></center></h1></div>
</center>
</body>
</html>